*{
    margin:0px;
    padding:0px;
    background-color:blanchedalmond;
    font-family: 'Times New Roman', Times, serif;
}

.container{
    width:90%;
    padding:20px;
    margin:100px auto;
    display:flex;
    flex-direction: row;
    justify-content: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-color: black;
}
.box{
    width:250px;
    margin:0 20px;
    box-shadow: 0;
    box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
    transition: transform 0.3s ease-in-out;
}
.img{
    width:150px;
    height: 150px;
}
 
.box:hover{
    margin-top: 50px;
    transform:scale(1.2);
    z-index: 2;
}
.left1 p{
    font-size: 25px;
    color:crimson;
}
h1 a{
    color:darkmagenta;
    text-decoration: none;
    font-size: bold;
}